body {
  margin: 0;
  font-family: 'Roboto Slab', serif; /* Body text uses Roboto Slab */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif; /* Headings use Roboto */
}

.dark-mode {
  background-color: #171b23; /* Dark background */
  color: #ffffff; /* Light font color */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
